@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rap-container {
  min-width: 100% !important;
  padding: 0px !important;
}

.custom-style.rap-container {
  border-radius: 20px;
}

.custom-style.rap-container .rap-slider .rap-progress .rap-pin {
  height: 12px;
  width: 12px;
  border-radius: 10px;
}

.custom-style.rap-container .rap-controls .rap-slider .rap-progress .rap-pin {
  top: -5px;
}

.custom-style.rap-container .rap-controls .rap-slider {
  height: 2px;
  border-radius: 4px;
}

.custom-style.rap-container .rap-volume .rap-volume-btn.rap-volume-open path {
  @apply fill-[#394c72] dark:fill-[#656972]
}
.custom-style.rap-container .rap-volume .rap-volume-btn path {
  @apply fill-primary dark:fill-white
}

.custom-style.rap-container .rap-pp-button svg path {
  @apply fill-primary dark:fill-white}

.custom-style.rap-container .rap-pp-button svg {
  @apply  w-[16px]
}

.custom-style.rap-container .rap-volume .rap-volume-btn svg {
  @apply  w-[22px]
}

.custom-style.rap-container .rap-volume .rap-volume-controls {
  background-color: #e4e4e4;
  width: 20px;
}

.custom-style.rap-container .rap-volume .rap-volume-controls .rap-slider,
.custom-style.rap-container
  .rap-volume
  .rap-volume-controls
  .rap-slider
  .rap-progress {
    @apply w-[2px]
}

.album-player {
  @apply !w-[110px] !min-w-0 text-center;
}

.album-player .rap-controls .rap-slider,
.album-player .rap-controls .rap-total-time {
  @apply hidden
}

.album-player .rap-controls .rap-current-time {
  @apply text-muted-foreground dark:text-white
}
